@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    @*<script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/moment")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/bootstrap-datetimepicker")
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/bootstrap-datetimepicker")
        @Styles.Render("~/Content/themes/base/css")
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        @Html.ActionLink("Booking", "Index", "Home", null, new { @class = "navbar-brand" })
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Hotels","List","Hotel")</li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
