@using BookMe.Domain.Entities
@model Hotel
<div class="col-sm-6 col-md-2">
    <div class="thumbnail">
        <img src="#" alt="pic"/>
        <div class="caption">
            <h4>@Html.ActionLink(@Model.Name, "Hotel", "Hotel", new { id = @Model.HotelID }, null)</h4>
            <address>
                <strong>@Model.Address, </strong><br/>
                @Model.City.Name, @Model.City.ZipCode<br/>
                <abbr title="Phone">P:</abbr>@Model.ContactNumber<br/>
            </address>
        </div>
    </div>
</div>
