@using BookMe.WebUI.HtmlHelpers
@using Castle.Core.Internal
@model BookMe.WebUI.Models.HotelListViewModel

@{
    ViewBag.Title = "Hotels";
}
@Html.Action("Search", "Home")
<h2>Wynik wyszukiwania dla:
    @if (!Model.SearchParameter.IsNullOrEmpty()){
        @($"{Model.SearchParameter},");
    }
    @if (Model.ChoosenArrival != null && Model.ChoosenDeparture != null){
        @($"przyjazd: {Model.ChoosenArrival.Value.ToShortDateString()}, odjazd {Model.ChoosenDeparture.Value.ToShortDateString()}, ");
    }
    @if (Model.AdultsCapacity != null){
        @($"dorośli: {Model.AdultsCapacity}, ");
    }

    @($"dzieci: {Model.KidsCapacity}")
</h2>
@foreach (var hotel in Model.Hotels){
    <h3>@Html.ActionLink(@hotel.Name,"Hotel","Hotel", new {id = @hotel.HotelID}, null)</h3>
}
<div>
    @Html.PageLinks(Model.PagingInfo,x => Url.Action("List","Hotel",
    new {page = x, search = Model.SearchParameter, startDate = Model.ChoosenArrival,
                endDate = Model.ChoosenDeparture, kidsInRoom = Model.KidsCapacity, adultsInRoom = Model.AdultsCapacity},null))
</div>
